

h4 {
	color: black;
}

h2 {
	color: black;
	font-size: 30px;
}

h1 {
	color: black;
	font-size: 40px;
}

.price {
	color: darkred;
}


html, body, .container-fluid {
	height: 100%;
}

#dish img {
	height: 140 px;
	width: 140 px;
}

#mini {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	background-color: rgb(222,222,222);

}

#header {
	
	background-color: rgb(239,239,239);
	height: 100px;

	border-style: solid;
	border-width: 2px;
	border-color: black;
	padding: 20px;
}

#headerHomePage {
	
	background-color: rgba(255,233,148, 0.3);
	height: 100px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	padding: 20px;
}

#homePage {					
	min-height: 100%;
	height: 100%;
	background-color: rgb(239,239,239);

	/*background-image: url('/images/backgroundPicture.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	display: block;*/
	border-style: solid;
	border-width: 2px;
	border-color: black;
	padding: 20px;
}


#sideWindowView {
	background-color: rgb(255,255,255);

	border-style: solid;
	border-width: 2px;
	border-color: black;

	min-height: 100%;	
	height: 100%;
}



#searchBar {
	background-color: rgb(255,233,148);
	border-style: solid;
	border-width: 2px;
	border-color: black;
	height: 150px;
}

#dinnerBar {
	background-color: rgb(255,233,148);
	border-style: solid;
	border-width: 2px;
	border-color: black;
	height: 100px;
	padding-left: 2cm;
}

#mainWindow {
	background-color: rgb(255,255,255);
	border-style: solid;
	border-width: 2px;
	border-color: black;

	min-height: 100%;
	height: 100%;

}